{% load static %}

<div class="content-box our-people">
    <h2>{{ head_text }}</h2>
    {% for team in teams %}
        <div class="team-block">
            <h3>{{ team.name }}</h3>
            {% for member in team.people_set.all %}
                <div class="member">
                    <div class="photo">
                        {% if member.photo %}
                            <img src="{{ member.photo.url }}">
                        {% endif %}
                    </div>
                    <span class="text name">{{ member.get_full_name }}</span>
                    <span class="text job">{{ member.job }}</span>
                </div>
                <div class="member-detail-holder">
                    <div class="member-detail">
                        <span class="close glyphicon glyphicon-close-blue"></span>
                        <div class="photo">
                            {% if member.photo %}
                                <img src="{{ member.photo.url }}">
                            {% endif %}
                        </div>
                        <span class="text name">{{ member.get_full_name }}</span>
                        <span class="text job">{{ member.job }}</span>
                        <br>
                        <span class="text other"><span>Telephone:</span> {{ member.phone }}</span>
                        <span class="text other"><span>E-mail:</span> {{ member.email }}</span>
                        <br>
                        <p class="text">{{ member.description|safe }}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% endfor %}
</div>