<div class="content-box posts-gallery">
    <div class="posts-gallery-wrapper">
        <a href="{{ link_left }}" class="post-gallery">
            <h2>{{ title_left }}</h2>
            <p class="text sub-text">{{ text_left|safe }}</p>
            <img src="{{ image_left.url }}">
        </a>
        <a href="{{ link_middle }}" class="post-gallery">
            <h2>{{ title_middle }}</h2>
            <p class="text sub-text">{{ text_middle|safe }}</p>
            <img src="{{ image_middle.url }}">
        </a>
        <a href="{{ link_right }}" class="post-gallery">
            <h2>{{ title_right }}</h2>
            <p class="text sub-text">{{ text_right|safe }}</p>
            <img src="{{ image_right.url }}">
        </a>
    </div>
</div>