<div class="content-box what_you_need">
    <h1>{{ title }}</h1>

    <ul class="no-desktop tab-header">
        <li class="active">{{ left_column_title }}</li>
        <li>{{ middle_column_title }}</li>
        <li>{{ right_column_title }}</li>
    </ul>

    <div class="cep-holder">
        <div class="cep-element active">
            <h2>{{ left_column_title }}</h2>
            <form method="post" id="what_need_product_filter">
                {% csrf_token %}
                <div class="custom-type">
                    <label for="custom-width">W<span class="glyphicon glyphicon-width"></span></label>
                    <input type="number" step="0.1" id="custom-width" name="dimension_w" class="small-input">
                    <span class="input-prefix">x</span>
                </div>
                <div class="custom-type">
                    <label for="custom-height">H<span class="glyphicon glyphicon-height"></span></label>
                    <input type="number" step="0.1" id="custom-height" name="dimension_h"  class="small-input">
                    <span class="input-prefix">mm</span>
                </div>
                <span class="input-or">or</span>
                <div class="custom-type">
                    <label for="custom-diagonal">D<span class="glyphicon glyphicon-diagonal"></span></label>
                    <input type="number" step="0.1" id="custom-diagonal" name="size"  class="small-input">
                    <span class="input-prefix">in</span>
                </div>
                {% if is_touch %}
                    <div class="custom-type">
                        <label for="custom-touch">Touch?</label>
                        <input type="checkbox" name="touch" id="custom-touch">
                    </div>
                {% endif %}
                {% if is_colour %}
                    <div class="custom-type">
                        <label for="custom-colour">Colour?</label>
                        <input type="checkbox" name="colour" id="custom-colour">
                    </div>
                {% endif %}
                <a href="{% url 'product_found' %}?page=1" class="color-button blue"><span id="find_product">All</span> <span>matches</span></a>
            </form>
        </div>
        <div class="cep-element">
            <h2>{{ middle_column_title }}</h2>
            <form method="POST" class="existing-form">
                {% csrf_token %}
                <label for="existing">{{ middle_column_label }}</label>
                <input type="text" id="existing" class="medium-input">
                <p class="text italic">{{ middle_column_caption }}</p>
                <span class="color-button green" id="find_key_product">Go</span>
            </form>
        </div>
        <div class="cep-element">
            <h2>{{ right_column_title }}</h2>
            <ul>
                {% for product in populars %}
                    <li><a href="{% url 'product-product_detail' product.category.id product.category.technology.id product.id %}">{{ product.get_name }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url 'product-technology' %}" class="color-button orange">Full catalog</a>
        </div>
    </div>
</div>